/* css for new landing page */
h1, h2, a, p {
	font-family: Roboto;
}

body {
	background-color: #212121;
	margin: 0;
	padding: 0;
}

/* set up navigation bar */

div#navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #212121; 
}

div#navBar a {
	display: block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
 }

div#navBar li {
	float: left;
}

div#navBar a:hover {
	background-color: #6f40b7;
}

div#navBar .active {
	background-color: #6f40b7;
}

/* bio formatting */
div#intro {
	color: white;
	min-width: 810px;
	max-width: 1250px;
	margin: auto;
}
div#intro td{
	margin: 0;
	padding: 50px;
}

/* contacts formatting */
div#contacts table {
	width: auto;
	margin: auto;
}
div#contacts td {
	margin: 0;
	padding: 10px;
}
div#contacts a {
	display:block;	
	padding: 16px 16px;
	background-size: 32px auto;
}

#insta {
	background-image: url("../images/icons/instagram.png");
}
#insta:hover {
	background-image: url("../images/icons/instagram_hover.png");
}
#github {
	background-image: url("../images/icons/github.png");
}
#github:hover {
	background-image: url("../images/icons/github_hover.png");
}
#mail {
	background-image: url("../images/icons/email.png");
}
#mail:hover {
	background-image: url("../images/icons/email_hover.png");
}
#linkedin {
	background-image: url("../images/icons/linkedin.png");
}
#linkedin:hover {
	background-image: url("../images/icons/linkedin_hover.png");
}

/* format footer */
div#footer {
	bottom: 0;
	position: fixed;
}

div#footer a {
	display: block;
	color: #6f40b7;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
div#footer a:hover {
	color: white;
}
