h1, h2, a, p {
	font-family: Roboto;
}

table.planets {
	margin: auto;
	width: 50%;
	border: 3px solid green;
}
td {
	font-family: Roboto;
	color: white;
}
td#jamLogo {
	text-align: center;
	border: 3px solid aquamarine;
}

td#jamCentral {
	border: 3px solid blue;
}
